# Set default behavior to automatically normalize line endings
* text=auto

# Declare files that should always have LF line endings
*.sh text eol=lf
*.py text eol=lf
*.js text eol=lf
*.jsx text eol=lf
*.css text eol=lf
*.json text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.md text eol=lf

# Denote binary files (to prevent git from modifying them)
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.mp4 binary
*.joblib binary
